.custom-table {
    border-collapse: separate !important; /* aby sa zachovali rohy */
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
}

.custom-table th,
.custom-table td {
    border: 1px solid #000;
}
.custom-table-head {
    background-color: #a67c52;
    color: #fff;
}

.contact-form {
    display: block;
    margin: 0 auto;
    padding: 2rem 1rem;
}


@media (min-width: 768px) {
    .contact-form {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 500px;
    }
}



